body{
	background-color: #000;
	color: #fff;
	user-select: none;
	cursor: default;
}
#main{	
	margin-top: 50px;
	padding: 20px 0 20px 0;
	border: 1px solid white;
	width: 80%;	
}
h1{
	font-family: 'Pacifico', cursive;
}
