body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: consolas;
    box-sizing: border-box;
}

.para p {
    font-size: 28px;
    width: 70%;
}

::-webkit-scrollbar {
    width: 0;
}

#progressbar {
    position: fixed;
    top: 0;
    max-height: 80vh;
    left: 150px;
    margin-top: 80px;
    width: 3px;
    border-radius: 25px;
    /* background: linear-gradient(to top, #fcb045, #fd1d1d, #833ab4); */
    background: linear-gradient(to top, #ffffff, #808080, #4e4e4e);
}